<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="home-body">

    {%- include header.html -%}

    <main class="home-main">
      {{ content }}
    </main>

    <script src="{{ '/assets/js/scroll-animations.js' | relative_url }}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-87W6B0JP70"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-87W6B0JP70');
    </script>

  </body>
</html>
